{% extends 'index.html' %}
{% load static %}


{% block menu %}
    <div id = "logo">
        <a href = '/'><img src = "{% static 'multimedia/logo.png' %}"/></a>
    </div>  
{% endblock %}

{% block content %}

    <div id = "content-box">
        
        <div class="tittle">Log in</div>
        <form action="login_user" method="post">
            {% csrf_token %}
            {{form.username}}
            {{form.password}}
            <input id="form_butt" type="submit" value="Log in">
        </form>
        {% if messages %}
            {% for message in messages %}
                <div class = "err-info">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}